<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/components/css/style.css" />
    <link rel="stylesheet" href="/components/css/about.css" />
  </head>
  <body>
    <header class="header" id="header">
      <nav class="main-nav-left">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="/components/our-menu.html"
              >Our Menu</a
            >
          </li>
          <li>
            <a class="main-nav-link main-color" href="/components/about.html"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
      <a href="/index.html"
        ><img
          class="logo"
          src="/assets/img/logo/5noodle-logo.png"
          alt="fivenoodle logo"
      /></a>
      <nav class="main-nav-right">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="/components/blog.html">Blog</a>
          </li>
          <li>
            <a class="main-nav-link" href="/components/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content-section">
      <div class="tittle">ABOUT US</div>
      <div class="content">
        <div class="isi-content">
          <h2>Profile</h2>
          <p>
            Fivenoodle is a restaurant that provides a healthy noodle food menu
            that was born starting from a home business from the owner of
            fivenoodle which has developed rapidly into a healthy noodle food
            restaurant until now. We provide a menu of various kinds of
            processed noodles made from vegetables and other ingredients.
          </p>
          <p>
            We know you're busy, so we're making the world's best food even
            faster. Meet Fivenoodle: the food delivery service that brings the
            freshest cooked noodles right to your doorstep. You can choose from
            a variety of noodles with quality ingredients and healthy for diet.
            We also offer local, organic, and delicious tasting dishes. And we
            never send any waste back to your kitchen.
          </p>
          <p>
            The best way to eat noodles has arrived! Fivenoodle is the world's
            first technology company to serve healthy noodles right in front of
            your door. We're committed to delivering fresh, delicious, and
            healthy food for every person on the planet. You can choose from
            various offerings, from zero-waste organic gluten-free noodles to
            Vietnamese pho, with a variety of healthy ingredients. Join us!
          </p>

          <button href="" class="tbl">Hubungi</button>
          <br />

          <div class="profil"></div>
        </div>
        <img
          class="img"
          src="https://images.unsplash.com/photo-1585032226651-759b368d7246?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bm9vZGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="gambar"
        />
      </div>

      <div class="tittle2">PROFILE DIREKSI</div>
      <div class="card-profile">
        <article class="card-profile-item">
          <img class="img" src="/assets/img/customer/jas.jpg" alt="" />
          <div class="konten">
            <h2>stefan</h2>
            <h3>owner</h3>
            <p>Merupakan owner dari foodnoodle</p>
          </div>
        </article>
        <article class="card-profile-item">
          <img class="img" src="/assets/img/customer/jas.jpg" alt="" />
          <div class="konten">
            <h2>Roy</h2>
            <h3>Manager</h3>
            <p>Merupakan Manager dari foodnoodle</p>
          </div>
        </article>
        <article class="card-profile-item">
          <img class="img" src="/assets/img/customer/koki.jpg" alt="" />
          <div class="konten">
            <h2>Srono</h2>
            <h3>Kepala Chef</h3>
            <p>Merupakan Kepala chef dari foodnoodle</p>
          </div>
        </article>
      </div>
    </div>
    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#"
            ><img
              class="footer-logo"
              src="/assets/img/logo/5noodle-logo.png"
              alt="fivenoodle logo"
          /></a>

          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; 2023 by Fivenoodle, Inc. All right reserved.
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contact Us</p>
          <address class="contacts">
            <p class="address">
              Jl Jend Gatot Subroto Kav 12-13 Ged Putra Kalimantan, DKI Jakarta
            </p>
            <p>
              <a class="footer-link" href="tel:021-522-2926">021-522-2926</a>
              <br />
              <a class="footer-link" href="mailto:hello@fivenoodle.com"
                >hello@fivenoodle.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Account</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Create Account</a></li>
            <li><a class="footer-link" href="#">Sign In</a></li>
            <li><a class="footer-link" href="#">iOS App</a></li>
            <li><a class="footer-link" href="#">Android App</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Company</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">About Fivenoodle</a></li>
            <li><a class="footer-link" href="#">For Business</a></li>
            <li><a class="footer-link" href="#">Our Partnership</a></li>
            <li><a class="footer-link" href="#">Careers</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Resources</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Our Menu</a></li>
            <li><a class="footer-link" href="#">Help Center</a></li>
            <li><a class="footer-link" href="#">Privacy & Terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- Sticky Nav JS  -->
    <script>
      const header = document.getElementById("header");

      window.addEventListener("scroll", () => {
        if (window.scrollY > 30) {
          header.style.height = "100px";
        } else {
          header.style.height = "130px";
        }
      });
    </script>
  </body>
</html>
