<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fivenoodle</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/components/css/blog.css" />
  </head>
  <body>
    <header class="header" id="header">
      <nav class="main-nav-left">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="/components/our-menu.html"
              >Our Menu</a
            >
          </li>
          <li>
            <a class="main-nav-link" href="/components/about.html">About Us</a>
          </li>
        </ul>
      </nav>
      <a href="/index.html"
        ><img
          class="logo"
          src="/assets/img/logo/5noodle-logo.png"
          alt="fivenoodle logo"
      /></a>
      <nav class="main-nav-right">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link main-color" href="/components/blog.html"
              >Blog</a
            >
          </li>
          <li>
            <a class="main-nav-link" href="/components/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Blog Start -->
    <section class="section-blog">
      <div class="blog-container">
        <div class="blog-post-container">
          <div class="post-container">
            <div class="post-content-container">
              <div class="post thumb">
                <img
                  class="post-img"
                  src="/assets/img/meal/img1.jpg"
                  alt="Asinan Kelengkeng"
                />
              </div>
              <div class="post-details">
                <a class="post link" href="#">
                  <h4 class="post title">
                    RESEP ASINAN KELENGKENG KIAMBOY KEKINIAN – ASEM MANIS SEGER
                  </h4></a
                >
              </div>
              <p class="post paragraph">
                Yang manis, yang asem, yang pedes, yang seger!!Asinan atau
                manisan kelengkeng kiamboy yang kekinian ternyata super praktis
                dan gampang dibuat dengan bahan yang simple dan rasanya pun
                sangat enak. Yuk cobain!
              </p>
              <ul class="post-tags">
                <li class="tags"><a href="#">Recipe</a>,</li>
                <li class="tags"><a href="#">Dessert</a></li>
              </ul>
            </div>
            <div class="post-content-container">
              <div class="post thumb">
                <img
                  class="post-img"
                  src="/assets/img/meal/img2.jpg"
                  alt="Korean Toast"
                />
              </div>
              <div class="post-details">
                <a class="post link" href="#">
                  <h4 class="post title">[RECIPE] KOREAN MAYO EGG TOAST</h4></a
                >
              </div>
              <p class="post paragraph">
                MAYO EGG TOAST is one of our favorite easy cook recipe inspired
                by Korean tv show called Fun-staurant. It is very easy and
                delicious! Here is the recipe.
              </p>
              <ul class="post-tags">
                <li class="tags"><a href="#">Recipe</a>,</li>
                <li class="tags"><a href="#">Toast</a></li>
              </ul>
            </div>
            <div class="post-content-container">
              <div class="post thumb">
                <img
                  class="post-img"
                  src="/assets/img/meal/img3.jpg"
                  alt="Ajitsuke Tamago"
                />
              </div>
              <div class="post-details">
                <a class="post link" href="#">
                  <h4 class="post title">
                    [RECIPE] AJITSUKE TAMAGO/ RAMEN EGG (AJITAMA)
                  </h4></a
                >
              </div>
              <p class="post paragraph">
                Hello, as requested, here you go the recipe for Japanese
                Marinated/ Seasoned Soft Boiled Egg or Ramen Egg or Ajitsuke
                Tamago or Ajitama.
              </p>
              <ul class="post-tags">
                <li class="tags"><a href="#">Recipe</a>,</li>
                <li class="tags"><a href="#">Japanese Food</a></li>
              </ul>
            </div>
            <div class="post-content-container">
              <div class="post thumb">
                <img
                  class="post-img"
                  src="/assets/img/meal/img4.jpg"
                  alt="Asinan Kelengkeng"
                />
              </div>
              <div class="post-details">
                <a class="post link" href="#">
                  <h4 class="post title">HALLOWEEN POCKY DECO</h4></a
                >
              </div>
              <p class="post paragraph">
                Hello October!! Who`s excited for Halloween?!! To celebrate the
                upcoming Halloween, AnakJajan attended Halloween Party and Pocky
                Deco event held by Glico Pocky and Cosmo Club some time ago.
              </p>
              <ul class="post-tags">
                <li class="tags"><a href="#">Lifestyle</a>,</li>
                <li class="tags"><a href="#">Decoration</a></li>
                <li class="tags"><a href="#">Halloween</a></li>
              </ul>
            </div>
            <div class="post-content-container">
              <div class="post thumb">
                <img
                  class="post-img"
                  src="/assets/img/meal/img5.jpg"
                  alt="Apple Tart (Nastar)"
                />
              </div>
              <div class="post-details">
                <a class="post link" href="#">
                  <h4 class="post title">
                    [RECIPE] KRAFT CHEESE MINI APPLE TART
                  </h4></a
                >
              </div>
              <p class="post paragraph">
                Eid Mubarak is just around the corner. Tasty cake or cookie
                treats are one of the must have items during special day don’t
                you agree? What is your must have sweet treat during special day
                just like Eid Mubarak
              </p>
              <ul class="post-tags">
                <li class="tags"><a href="#">Recipe</a>,</li>
                <li class="tags"><a href="#">Nastar</a></li>
              </ul>
            </div>
          </div>
          <div class="post-page">
            <ul class="page-container">
              <li class="page"><a href="#">1</a></li>
              <li class="page"><a href="#">2</a></li>
              <li class="page"><a href="#">3</a></li>
              <li class="page">
                <a href="#">&gt;</a>
              </li>
              <li class="page">
                <a href="#">&gt;&gt;&gt;</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="blog-sidebar-container">
          <div class="sidebar top">
            <div class="search-container">
              <form class="form-search" method="GET" action="#">
                <input
                  class="search-box"
                  type="text"
                  placeholder="Search..."
                  required
                  name="q"
                  autocomplete="on"
                />
                <input
                  id="btn"
                  class="search-button"
                  type="button"
                  value="Search"
                />
              </form>
            </div>
          </div>
          <div class="sidebar center">
            <div class="recent-post-container">
              <h2 class="subheading">Recent Posts</h2>
              <div class="recent-post-list-container">
                <ul class="post-list">
                  <li class="list">
                    <a href="#">
                      <h5 class="list paragraph">
                        [RECIPE] HOMEMADE GARLIC BUTTERFEBRUARY
                      </h5>
                      <span class="list info">FEBRUARY 15, 2021</span>
                    </a>
                  </li>
                  <li class="list">
                    <a href="#">
                      <h5 class="list paragraph">
                        URBAN FARM PIK – GOLF ISLAND PANTAI INDAH KAPUK, JAKARTA
                      </h5>
                      <br />
                      <span class="list info">MAY 18, 2021</span>
                    </a>
                  </li>
                  <li class="list">
                    <a href="#">
                      <h5 class="list paragraph">
                        CARBON RESTAURANT – MD PLACE, SETIABUDI, JAKARTA
                      </h5>
                      <br />
                      <span class="list info">MAY 19, 2021</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="sidebar bottom">
            <div class="categories-container">
              <h2 class="subheading">Categories</h2>
              <ul class="categories list">
                <li class="category"><a href="#">Lifestyle</a></li>
                <li class="category"><a href="#">Health</a></li>
                <li class="category"><a href="#">Food</a></li>
                <li class="category"><a href="#">Travel</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog End -->
    <!-- Footer Start -->
    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#"
            ><img
              class="footer-logo"
              src="/assets/img/logo/5noodle-logo.png"
              alt="fivenoodle logo"
          /></a>

          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; 2023 by Fivenoodle, Inc. All right reserved.
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contact Us</p>
          <address class="contacts">
            <p class="address">
              Jl Jend Gatot Subroto Kav 12-13 Ged Putra Kalimantan, DKI Jakarta
            </p>
            <p>
              <a class="footer-link" href="tel:021-522-2926">021-522-2926</a>
              <br />
              <a class="footer-link" href="mailto:hello@fivenoodle.com"
                >hello@fivenoodle.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Account</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Create Account</a></li>
            <li><a class="footer-link" href="#">Sign In</a></li>
            <li><a class="footer-link" href="#">iOS App</a></li>
            <li><a class="footer-link" href="#">Android App</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Company</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">About Fivenoodle</a></li>
            <li><a class="footer-link" href="#">For Business</a></li>
            <li><a class="footer-link" href="#">Our Partnership</a></li>
            <li><a class="footer-link" href="#">Careers</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Resources</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Our Menu</a></li>
            <li><a class="footer-link" href="#">Help Center</a></li>
            <li><a class="footer-link" href="#">Privacy & Terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- Sticky Nav JS  -->
    <script>
      const header = document.getElementById("header");

      window.addEventListener("scroll", () => {
        if (window.scrollY > 30) {
          header.style.height = "100px";
        } else {
          header.style.height = "130px";
        }
      });
    </script>
    <!-- <footer class="footer">
      <div class="footer-container">
        <div class="contact-container">
          <ul class="contact-list">
            <li class="contact"><a href="#">Facebook</a></li>
            <li class="contact"><a href="#">Twitter</a></li>
            <li class="contact"><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="copyright-container">
          <div class="copyright-content">
            <p>
              Copyright 2020 Fivenoodle Co. | Design:
              <a rel="nofollow" href="#" target="_parent">Fivenoodle</a>
            </p>
          </div>
        </div>
      </div>
    </footer> -->
    <!-- Footer End -->
  </body>
</html>
