<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fivenoodle</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/components/css/menu.css" />
  </head>

  <body>
    <header class="header" id="header">
      <nav class="main-nav-left">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="/components/our-menu.html"
              >Our Menu</a
            >
          </li>
          <li>
            <a class="main-nav-link" href="/components/about.html">About Us</a>
          </li>
        </ul>
      </nav>
      <a href="/index.html"
        ><img
          class="logo"
          src="/assets/img/logo/5noodle-logo.png"
          alt="fivenoodle logo"
      /></a>
      <nav class="main-nav-right">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="/components/blog.html">Blog</a>
          </li>
          <li>
            <a class="main-nav-link" href="/components/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="section-meals">
      <div class="container center-text">
        <span class="subheading">Noodles</span>
        <h2 class="heading-secondary">
          Get your noodle with healthy and delicious recipes
        </h2>
      </div>

      <div class="nav-margin">
        <ul class="nav-menu">
          <li>
            <a class="nav-link-menu main-color" id="all" href="#all">All</a>
          </li>
          <li>
            <a class="nav-link-menu" id="noodle" href="#noodle">Noodle</a>
          </li>
          <li>
            <a class="nav-link-menu" id="sphagetti" href="#spaghetti"
              >Spaghetti</a
            >
          </li>
          <li>
            <a class="nav-link-menu" id="desert" href="#desert">desert</a>
          </li>
        </ul>
      </div>

      <div class="container grid grid--3-cols margin-bottom-md">
        <div class="meal noodle all">
          <img
            class="meal-img"
            src="/assets/img/meal/vegetable-noodle.jpg"
            alt="Vegetable Noodle"
          />
          <div class="meal-content">
            <p class="meal-title">Vegetable Noodle</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>650</strong> Calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span>NutriScore &reg; <strong>83</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                <span><strong>4.9</strong> Rating (1.685)</span>
              </li>
            </ul>
            <div class="order">
              <a href="#" class="btn--order">Order</a>
              <p class="price"><span>IDR</span> <strong>60.000</strong></p>
            </div>
          </div>
        </div>
        <div class="meal sphagetti all">
          <img
            class="meal-img"
            src="/assets/img/meal/spaghetti-vegan.jpg"
            alt="Spaghetti Vegan"
          />
          <div class="meal-content">
            <p class="meal-title">Spaghetti Vegan</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>600</strong> Calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span>NutriScore &reg; <strong>79</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                <span><strong>4.9</strong> Rating (872)</span>
              </li>
            </ul>
            <div class="order">
              <a href="#" class="btn--order">Order</a>
              <p class="price"><span>IDR</span> <strong>45.000</strong></p>
            </div>
          </div>
        </div>
        <div class="meal noodle all">
          <img
            class="meal-img"
            src="/assets/img/meal/green-udon.jpg"
            alt="Spaghetti Vegan"
          />
          <div class="meal-content">
            <p class="meal-title">Green Udon</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>700</strong> Calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span>NutriScore &reg; <strong>88</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                <span><strong>4.9</strong> Rating (2.261)</span>
              </li>
            </ul>
            <div class="order">
              <a href="#" class="btn--order">Order</a>
              <p class="price"><span>IDR</span> <strong>70.000</strong></p>
            </div>
          </div>
        </div>
        <div class="meal desert all">
          <img
            class="meal-img"
            src="/assets/img/meal/img1.jpg"
            alt="Kelengkeng Kiamboy"
          />
          <div class="meal-content">
            <p class="meal-title">Kelengkeng Kiamboy</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>600</strong> Calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span>NutriScore &reg; <strong>79</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                <span><strong>4.9</strong> Rating (872)</span>
              </li>
            </ul>
            <div class="order">
              <a href="#" class="btn--order">Order</a>
              <p class="price"><span>IDR</span> <strong>45.000</strong></p>
            </div>
          </div>
        </div>
        <div class="meal desert all">
          <img
            class="meal-img"
            src="/assets/img/meal/img5.jpg"
            alt="Apple Tart"
          />
          <div class="meal-content">
            <p class="meal-title">Apple Tart</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>600</strong> Calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span>NutriScore &reg; <strong>79</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                <span><strong>4.9</strong> Rating (872)</span>
              </li>
            </ul>
            <div class="order">
              <a href="#" class="btn--order">Order</a>
              <p class="price"><span>IDR</span> <strong>45.000</strong></p>
            </div>
          </div>
        </div>
        <div class="meal desert all">
          <img
            class="meal-img"
            src="/assets/img/meal/img3.jpg"
            alt="Ajitsuke Tamago"
          />
          <div class="meal-content">
            <p class="meal-title">Ajitsuke Tamago</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                <span><strong>1900</strong> Calories</span>
              </li>
              <li class="meal-attribute">
                <ion-icon
                  class="meal-icon"
                  name="restaurant-outline"
                ></ion-icon>
                <span>NutriScore &reg; <strong>80</strong></span>
              </li>
              <li class="meal-attribute">
                <ion-icon class="meal-icon" name="star-outline"></ion-icon>
                <span><strong>4.9</strong> Rating (1809)</span>
              </li>
            </ul>
            <div class="order">
              <a href="#" class="btn--order">Order</a>
              <p class="price"><span>IDR</span> <strong>45.000</strong></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#"
            ><img
              class="footer-logo"
              src="/assets/img/logo/5noodle-logo.png"
              alt="fivenoodle logo"
          /></a>

          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; 2023 by Fivenoodle, Inc. All right reserved.
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contact Us</p>
          <address class="contacts">
            <p class="address">
              Jl Jend Gatot Subroto Kav 12-13 Ged Putra Kalimantan, DKI Jakarta
            </p>
            <p>
              <a class="footer-link" href="tel:021-522-2926">021-522-2926</a>
              <br />
              <a class="footer-link" href="mailto:hello@fivenoodle.com"
                >hello@fivenoodle.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Account</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Create Account</a></li>
            <li><a class="footer-link" href="#">Sign In</a></li>
            <li><a class="footer-link" href="#">iOS App</a></li>
            <li><a class="footer-link" href="#">Android App</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Company</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">About Fivenoodle</a></li>
            <li><a class="footer-link" href="#">For Business</a></li>
            <li><a class="footer-link" href="#">Our Partnership</a></li>
            <li><a class="footer-link" href="#">Careers</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Resources</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Our Menu</a></li>
            <li><a class="footer-link" href="#">Help Center</a></li>
            <li><a class="footer-link" href="#">Privacy & Terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script src="/components/js/menu.js"></script>
</html>
