.section-hero-contact {
  padding: 144px 96px 96px 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(36, 22, 7, 100),
      rgba(255, 127, 0, 0.3)
    ),
    url("../../assets/img/gallery/background\ tumpukan\ mi.avif");
  background-position: center;
  background-size: cover;
}

.title-contact {
  text-align: center;
  color: #804000;
  margin-bottom: 24px;
}

.title-contact h3 {
  font-weight: 400;
  text-decoration: underline;
}

.option-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-contact {
  background-color: #fff;
  height: 90px;
  width: 100%;
  margin: 16px 0;
  border-radius: 20px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 10px 8px -2px rgba(0, 0, 0, 0.29);
  transition: 0.3s ease;
  color: #ff9933;
}

.card-contact:hover {
  cursor: pointer;
  box-shadow: 5px 10px 15px 2px rgba(0, 0, 0, 0.29);
}

.card-contact i {
  font-size: 48px;
  margin-left: 16px;
}
.card-contact p {
  font-size: 16px;
  font-weight: 900;
  margin-left: 24px;
}

.email-section {
  margin-top: 48px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* max-width: 1200px; */
  width: 70%;
  justify-content: space-between;
  background-color: #ffa54d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px 2px;
}

.email-section .section-contact-left {
  width: 40%;
}
.email-section .section-contact-right {
  /* height: 100%; */
  /* background-color: red; */
  width: 60%;
}

.email-section .section-contact-right h1 {
  margin-bottom: 24px;
  text-align: center;
  /* line-height: 50px; */
  font-size: 30px;
  color: rgba(255, 255, 255, 0.965);
}

.email-section form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.email-section form input,
.email-section form textarea,
.email-section form button {
  width: 75%;
  margin-bottom: 8px;
  font-family: inherit;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  padding: 12px;
  font-size: 18px;
  font-family: inherit !important;
  border-color: transparent;
  border-radius: 9px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

.btn-send {
  background-color: #4c2600;
  font-family: inherit;
  color: #fff;
  padding: 12px;
}

.btn-send:hover {
  background-color: #ff7f00;
  color: #fff;
}

.email-section hr {
  width: 70%;
}

/* Tablet */
@media only screen and (max-width: 780px) {
  .email-section {
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .email-section .section-contact-left,
  .email-section .section-contact-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .email-section form input,
  .email-section form textarea,
  .email-section form button {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .section-hero-contact {
    padding: 144px 0 96px 0;
  }

  .email-section {
    width: 90%;
  }

  .title-contact {
    margin-bottom: 0;
  }

  .option-contact {
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card-contact {
    height: 90px;
    flex-direction: column;
    margin: 16px auto;
    width: 100px;
  }
  .card-contact i {
    transform: scale(0.7);
    margin-left: 0;
  }

  .card-contact p {
    transform: scale(0.6);
    margin-left: 0;
    text-align: center;
  }

  .email-section .section-contact-right h1 {
    margin-bottom: 0;
    font-size: 20px;
  }

  .email-section form input,
  .email-section form textarea,
  .email-section form button {
    padding: 8px;
    font-size: 12px;
  }
}
