@media (max-width: 1300px) {
  .hero {
    max-width: 1200px;
  }

  .heading-primary {
    font-size: 44px;
  }

  .gallery {
    height: 100%;
  }
}

@media (max-width: 1110px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 0 80px;
    gap: 64px;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 32px;
  }

  .container {
    padding: 0 72px;
  }

  .banner {
    margin-top: 72px;
  }

  .logos img {
    height: 75px;
  }

  .logo--last img:first-child,
  .logos--last img:nth-child(2) {
    height: 56px;
  }

  .logos--last img:last-child {
    height: 35px;
  }

  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
  }

  .step-img {
    width: 47%;
  }

  .meal-content {
    padding: 32px 24px 24px 24px;
  }
  /* Resize logos and other section */
}

@media (max-width: 880px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 14px;
  }

  .logo {
    height: 80%;
  }

  a {
    padding-bottom: 0;
  }

  .banner-text {
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 1fr;
  }
}
